*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*element selectors */
a :hover{
    background-color:#c7a444
}

body{
    background-color:#011854;
    color:blanchedalmond;
    margin: 2%;
    padding: 2;
}
 
h1,
h2,
h3 {
  text-align: center;
}

img {
    background-color: transparent;
    display: block;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
;
}

nav {
    background-color: #A6BBF2;
    color: #011854;
    display:flex;
    flex-direction: row;
    margin: 0;
    width:100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0; 
}

nav li {
    margin: 1vh;
    text-decoration: none;
}

nav li :hover {
    background-color: #f3b37e;
    margin: 0;
    padding: 4vh;
}

/*id selectors */


/* class selectors */
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.work-samples {
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20;
    max-width: 250px;
    padding: 10px;
}

.work-samples-rps {
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    flex: 2 0 200;
    max-width: 1000px;
    padding: 10px;
}
.work-samples :hover {
    background-color: #f3b37e;
}



/* large smartphones */
@media screen and (max-width: 500px) {
    section {
        flex-direction: column;
    }
    li {
        margin: 0;
    }
    ul{
        flex-direction: column;
      }
  }