*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*element selectors */
a :hover{
    background-color:#c7a444
}

body{
    background-color:#011854;
    color:blanchedalmond;
    margin: 0;
    padding: 2vw;
}
 
h1,
h2,
h3 {
  text-align: center;
}

img {
    width: 100%;
}

nav {
    background-color: #A6BBF2;
    color: #011854;
    display:flex;
    flex-direction: row;
    margin: 0;
    width:100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1%; 
}

nav li {
    margin: 1vh;
    text-decoration: none;
}

nav li :hover {
    background-color: #f3b37e;
    margin: 0;
    padding: 4vh;
}

/*id selectors */

/*This is for the Nav Bar */

/* class selectors */
.bgc-navy {background-color: navy;}
.display-inline {display:inline}
        /*review sticky vs fixed*/
.pos-f {position: fixed;}
.pos-s {position: sticky;}
.t-0 {top:0;}
.w-1\/1 {width:100%;}

/* large smartphones */
@media screen and (max-width: 768px) {
    ul{
      flex-direction: column;
    }
    li {
        margin: 0;
    }
  }